body{
  -webkit-font-smoothing:antialiased;
}
.content-wrap{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.content-main{
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;

}
.xiala img{
  width: 8vh;
  height: 8vh;
  display: block;
  margin: 100px auto;
}
@media(min-width:760px) {
  .content-wrap{
    flex-direction: column;
  }
}
.LeftNav{
  display: flex;
  flex-direction: column;
}
.Buts{
  display: flex;
  flex-direction: row;
  color: #fff;
}
.Buts a{
  padding: 2vh 1vh;
  color: #fff;
  font-size: 18px;
}
.Buts a:focus,a:hover{
  text-decoration: none;
}
.Buts span{
  background-color: #1fc8db;
  border-radius: 5px;
  box-shadow: none;
  display: block;
  padding: 1vh 2vh;
  text-align: center;
}
.nav-header{
  height: 80px;
  flex-shrink: 0;
  background-color: #512DA8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #fff;
}
.nav-header h3{
  margin: 0;
  font-weight: bold;
  font-size: 17px;
}
.nav-header span{
  font-size: 2.5vh;
}
.nav-header p{
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}
.nav-footer{
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  flex-grow: 2;

}
/*.nav-footer a{
  flex-grow: 1;
  color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}*/
/*.nav-footer a:focus,a:hover{
  text-decoration: none;
}*/

.content-main{
  display: flex;
  flex-grow: 1;
  background-color: #fff;
  overflow-y: scroll;
  margin-bottom: 10vh;
}
.work-container{
  width: 100%;
  display: flex;
  padding: 10px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.work-card{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 6px, rgba(0, 0, 0, 0.2) 0px 1px 4px;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  flex-grow: 0;
  position: relative;

}
@media(min-width:540px) {
  .work-card{
    width: 48%;
  }
}
.work-card img{
  width: 100%;
  display: block;

}
.work-text{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding-left: 10px;
  border-radius: 0 0 5px 5px;

}
.wait{
  width:100%;
  height:100%;
  /*display:flex;
  flex-grow: 1;
  justify-content:center;
  align-items:center;*/
  margin: auto;
}
